github
1 Red social de programadores
2 web y apps
3 Fácil de usar

Repositorio de código GITHUB (master)
1. múltiples versiones del mismo código 
2. Cambios Delta
	Base de datos atomicas del codigo 
3. Historial de Cada Archivo
4. multiples personas sobre el mismo archivo
